#sectors {
	/*! width:50%; */
	height: 100%;
	position: absolute;
	/*! margin: auto; */
	display: inline-block;
	width: 100%;
}
.sectorBox {
	/*stroke:#003d5a;*/
}
.mineral-density {
  display: none;
}
.densities .mineral-density {
  display: initial;
}
svg.selected>g:last-child {
	stroke:white;
	
}
svg>g{
	stroke:#003d5a;
}
svg.densities.selected>g.Asteroids:last-child {
	stroke:#ff0;
	
}
svg.densities>g.Asteroids {
	stroke:#fbaa00;
}
svg.densities>#backlines>use.Asteroids{
	stroke:#fbaa00;
}
body{
 width:100%;
	display: grid;
  grid-template-rows: auto auto 1fr;
 height: 100%;
 grid-template-columns: 1fr auto;
}
.sector-container {
	height: 100%;
	grid-row-start: 3;
	position: relative;
	/*! text-align: center; */
}
html {
	height:100%;
}

.org-HA{
	
  stroke:blue;
  fill:blue;
}
.org-AE{
	
  stroke:red;
  fill:red;
}
.org-FI{
	
  stroke:Yellow;
  fill:Yellow;
}
.org-PI {
    stroke: #48604a;
    fill: #48604a;
}
.star{
  fill:white;
	filter:drop-shadow(rgb(255, 255, 255) 0px 0px 1px) drop-shadow(rgb(255, 255, 255) 0px 0px 1px);
}
nav{
  grid-column-start:1;
	grid-column-end:3;
  grid-row-start: 1;
}
.tooltip {

  border-left: 2px solid #003d5a;
}
h1{
	text-align: center;
	padding: .67em;
	margin:0;
	
  border-bottom: 2px solid #003d5a;
}
p{
	text-align: center;
	margin:0;
	padding:1em;
  border-bottom: 1px solid #003d5a;
	
}
.tooltip {
  min-width: 200px;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
}
header {
	grid-row-start: 2;
	grid-row-end: 3;
}
#sector_name {
  padding: 0.3em 0.67em;
	border-bottom:none
}
.mineral-spawn-radius, .mineral-spawn, .mineral-outline{
	display:none;
}

.spawns .mineral-spawn, .spawns.densities .mineral-outline{
	display:initial;
}
.spawns g:last-child .mineral-spawn-radius{
	display:initial;
}

h3 {
  text-align: center;
  padding: .67em;
  margin: 0;
  border-bottom: 2px solid #003d5a;
}
div.hotspots, div.rates {
  /*! height: 100%; */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #0079b3 #003d5a;
  border-top: 2px solid #003d5a;
  border-bottom: 1px solid #003d5a;
}
.tooltip-info {
  flex-grow: 1;
  display: grid;
  flex-direction: column;
  /*! height: 0%; */
  grid-template-rows: 60% 40%;
  min-height: 0;
}
.rates {
  flex-grow: 1;
}
p:last-child {
  border-bottom: 0px;
}
